.body 
{
  background: color=green
}


.navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-title {
    margin-top: 1em;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 3rem;
}

h2 {
  margin-top: 1em;
}

h4 {
  margin-top: 1em;
}